<!-- El contenido del @deferbloque principal es la sección de contenido que se carga de forma diferida. No se procesará inicialmente y todo el contenido aparecerá una vez que se cumpla el activador o whenla condición especificados y se hayan obtenido las dependencias. -->

<!-- @defer {
    <app-async/>
} @placeholder (minimum 500ms) {
    <p>Tiempo de carga de la peticion</p>
} @loading{
    is loading...
} @error{
    <p> Error </p>
}

Trigger 
Ayudan a la funcionalidad de los defer

 @defer (on viewport; on timer(5s)){}

  @defer(when cond){}
-->

<!-- Un bloque opcional que declara que el contenido se mostrará antes de que se active el bloque de aplazamiento. -->


<nav>
    <ul>
        <li>
            <a routerLinkActive="activated" routerLink="/cart">Cart</a>
            |
            <a routerLinkActive="activated" routerLink="/products">Products</a>
        </li>
    </ul>
</nav>

<!-- <router-outlet /> -->

<!-- <button (click)="cond = !cond" type="button">Click</button> -->
<button type="button" #greeting>Click</button>

<!-- @defer (when cond){
    <app-async/>
} @placeholder {
    <p>Tiempo de carga de la peticion</p>
} @loading{
    is loading...
} @error{
    <p> Error </p>
} -->

@defer (on interaction(greeting)){
    <app-async/>
} @placeholder {
    <p>Tiempo de carga de la peticion</p>
} @loading{
    is loading...
} @error{
    <p> Error </p>
}


<div class="" style="height: 50vh;"></div>
